body{
background-color:#55acff;
padding:30px;

}





.list{

background-color: #eeeeee;



}





.listName{

font-size:24px;
float:left;
}

.listTime{

font-size:12px;

position:relative;
top:0px;
font-color:#888888;

}


.listMesse{


font-size:18px;


}

#header_logo{

font-size:54px;
font-family: "ÇlÇr ÉSÉVÉbÉN",sans-serif;
font-weight: bold;


}



#userStatas{

background-color: #aaaaff;



}

.followerUser{

background-color: #eeeeee;
font-size:30px;


}
.followUser{

background-color: #eeeeee;

font-size:30px;

}
.serchUser{

background-color: #eeeeee;

font-size:20px;

}

.error{

color:#ff3333;



}
.forms{

border:solid 3px #444444;
width:300px;




}